{% extends 'base.html' %}
{% block content %}
<div class="main-layout">
  {% for picture in pictures %}
    <div class="photo-box">
      <a href="{% url 'picture_details' id=picture.pk %}">
        <li>
          <img class="image" src="{{picture.url}}" alt="Error" >
        </li>
      </a>
      <div class="info">
        <h2>{{ picture.title }}</h2>
        <h3>by {{ picture.artist }}</h3>
        <h3>Comments: {{ picture.comments.count }}</h3>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
