{% extends 'base.html' %}
{% block content %}
  <div class="title">
    <h2> {{picture.title}} </h2>
    <h3> By {{picture.artist}} </h3>
    <h3> Added by {{ picture.user }}</h3>
  </div>
  <div class="individual-image">
    <li>
      <img src="{{picture.url}}" alt="">
    </li>
  </div>
    <h1 class="comment-count">Comments: {{ picture.comments.count }}</h1>
    <div class="comment-section">
      <ul>
        {% for comment in comments%}
          <li>
            <h3>{{ comment.name }} - <span>{{ comment.created_at }}</span></h3>
            <h4>{{ comment.message }}.</h4>
          </li>
        {% endfor %}
      </ul>
    </div>
    <form action="{% url 'create_comment' %} "class="comment-section" action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="picture" value="{{ picture.pk }}">
      <label for="comment_name">
        <span>Name:</span>
        <input type="text" name="comment_name" value="">
      </label>
      <label for="comment_message">
        <span>Message:</span>
        <textarea id="comment-message" name="comment_message"></textarea>
      </label>
      <button type="submit" name="button">Submit</button>
    </form>
{% endblock %}
