{% extends 'base.html' %}
{% block content %}
<div class="search-count">
  <h1>Search Results: <span class="search-count">{{ pictures.count }}</span></h1>
</div>
<div class="main-layout">
  {% for picture in pictures %}
    <div class="photo-box">
      <a href="{% url 'picture_details' id=picture.pk %}">
        <li>
          <img class="individual-image" src="{{ picture.url }}" alt="{{ picture.title }}" />
        </li>
      </a>
      <div class="info">
        <h2>{{ picture.title }}</h2>
        <h3>by {{ picture.artist }}</h3>
        <h3>Comments: {{ picture.comments.count }}</h3>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
